.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: rgb(255, 81, 0);
    text-align: center;
}

.content {
    background-color: rgb(0, 226, 151);
    flex: 3; 
    text-align: left; 
    padding: 20px; 
}

.footer {
    background-color: rgb(76, 0, 255);
    text-align: center;
}